#include "KeyballBLE.dtsi"

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        , <&gpio0 9 GPIO_ACTIVE_HIGH>
        ;
};

/* ピン番号は親ファイル（dtsi）に任せ、運転免許（compatible）だけ追加します */
&left_encoder {
    compatible = "alps,ec11";
    status = "okay";
};

/* つまみの信号をキーマップに届けるための「窓口」です */
/ {
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
    };
};
