#include "KeyballBLE.dtsi"

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        , <&gpio0 9 GPIO_ACTIVE_HIGH>
        ;
};

/* これが「窓口」です：つまみの回転をキーマップへ届けます */
/ {
    left_sensors: left_sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
    };
};

/* つまみのスイッチを有効にします */
&left_encoder {
    status = "okay";
};
