#include "KeyballBLE.dtsi"

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        , <&gpio0 9 GPIO_ACTIVE_HIGH>
        ;
};

/* ピン番号の指定を消して、競合を避けます */
&left_encoder {
    compatible = "alps,ec11";
    /* ここにあった a-gpios と b-gpios を削除しました */
    status = "okay";
};

/* キーマップと繋ぐための設定だけ残します */
/ {
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
    };
};
